@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: rgb(27, 26, 26);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.main-header {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}

.create-form label {
  color: whitesmoke !important;
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
}
